@model IEnumerable<GlossarioOneDnD_MVC.Models.Regra>
@{
    ViewData["Title"] = "Página Inicial";
}

<div>
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-justify">
    <p>
        Olá! Esse é um projeto de fã feito para ajudar na organização das mudanças que estão sendo feitas com
        a vinda da edição definitiva de Dungeons & Dragons. É um projeto sem fins lucrativos, feito de fã para fã.
        <br />
        O objetivo desse projeto é criar um espaço organizado e acessível (por isso a versão em português) para o
        fandom não ter que ficar constantemente tendo que abrir pdfs diferentes e procurando os mínimos detalhes
        vendo o que mudou de um para o outro (eu vou ter esse trabalho kkkkkcrying).
    </p>
</div>
