@{
    ViewData["Title"] = "Quem sou eu?";
}
<h1>@ViewData["Title"]</h1>

<p> Oie! eu sou Maurício, Maurício Pergher. Graduando em Tecnologia em Jogos Digitais pela Universidade Franciscana (UFN), tradutor de inglês e ilustrador (porque quem vive de freelance, acaba vivendo de muita coisa, né? aiai).
    Jogo RPG desde meados de 2015, mas sempre amei a ideia de criar personagens e interpretá-los. Hoje em dia administro um grupo onde jogamos RPG e transmitimos na <a href="https://twitch.tv/queersndragons">twitch.tv/queersndragons</a>.
    <br />Esse repositório tem a mesma ideia das streams: democratizar o hobby, fazendo com que mais gente tenha acesso e possibilitando uma maior diversidade na comunidade de RPG aqui no Brasil. Afinal,
    se o material chegar traduzido, mais pessoas podem se interessar pela prática (e também pra eu já conseguir deixar online um portfólio de tradução, porque ninguém é de ferro).
</p>
